<html>
  <head>
    <title>Login</title>
    
  </head>
  <body background="image2.jpeg">
    <div class="login-box">
      <h1>Login</h1>
      <form action="submit.html">
        <label for="email"><b>EMAIL:</b></label><br>
<input type="text" name="email" id="email" required maxlength="45"><br>
<label for="password"><b>PASSWORD:</b></label><br>
<input type="text" name="password" id="password" required maxlength="45"><br><br>
<button>Submit</button>
    
      </form>
    </div>
    
  </body>
</html>